body {
    background: linear-gradient(90deg, rgba(254, 172, 94, 0.5), rgba(199, 121, 208, 0.5), rgba(75, 192, 200, 0.3));
}

h1 {
    display: block;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    background: linear-gradient(45deg, rgba(254, 172, 94, 0.5), rgba(199, 121, 208, 0.5), rgba(75, 192, 200, 0.5));
    color: #fff;
}